.header{
    display: flex;
    justify-content: center;
    height: 80px;
    background: linear-gradient(to right, #0f172a, #132840, #192245);
    width: 100%;

}
.container{
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
   
}
.rightside a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    
   
}
.rightside a:hover{
   
   --tw-translate-y: -0.25rem/* -4px */;
   transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
   transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 300ms;
    border-radius: 4px;
    padding: 12px;
    background-color: rgba(243, 243, 243, 0.238);

}
.leftside{
    display: flex;
    align-items: center;
    

}
.pheader{
    font-size: 16px;
    margin-left: 10px;
    font-weight: 700;
}

.ul{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    
}
.li{
    margin: 0 35px;
    font-size: 14px;
    font-weight: 700;
    
}

.footer{
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footermenu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 75px;
    margin-bottom: 40px;
    border-bottom: 1px solid #d8dde6;
}
.allrightreserved{
    color: #959595;
    font-size: 14px;
}
.Company,
.Resources,
.SocialMidia{
    font-size: 18.72px;
    font-weight: bolder;
    color: #3d3d3d;
    margin-bottom: 20px;
}
.AboutUs,
.ContactUs,
.Blog,
.HelpCenter{
    font-size: 14px;
    color: #494949;
    padding-top: 5px;
    padding-bottom: 5px;
}
.AboutUs:hover,
.ContactUs:hover,
.Blog:hover,
.HelpCenter:hover{
    opacity: 0.5;
}

.SocialMidiaicons{
    display: flex;
    
}
.SocialMidiaicons img{
    padding-left: 6px;
    padding-right: 6px;
    width: 32px;
    height: 32px;
    
}
.fottertxt1,
.fottertxt2,
.fottertxt3,
.fottertxt4{
    margin-bottom: 80px;
}
.Lasttext{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
}
.p20,
.p21{
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(182, 182, 182);
    font-size: 12px;
}
.p20:hover,
.p21:hover{
    color: #6f6f6f;
}