.section{
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #0f172a, #132840, #192245);
    padding-bottom: 30px;
}
.container{
    display: flex;
    width: 1200px;
    
}
.bannercontent{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
   
}

.textcontent{
    margin-right: 50px;
    flex: 1;
    margin-top: 30px;
    margin-bottom: 90px;
}
.p{
    font-size: 48px;
    letter-spacing: 0.5px;
    font-weight: 700;
    
}
.p2{
    font-size: 48px;
    letter-spacing: 0.5px;
    font-weight: 700;
}
.p3{
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.p4{
    font-size: 13px;
    
}
.bannerimg{
    flex: 1;
   
    
}
.rightimg{
    width: 100%;
    object-fit:cover;
    height: 350px;
    margin-top: 15px;
}
.section2{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}
.introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.title{
    font-size: 32px;
    font-weight: 700;
    color: #303030;
    margin-top: 48px;
    margin-bottom: 30px;
}
.p6{
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    color: #505050;
    font-weight:500;
}
.LearnMore{
    display: flex;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 50px;
    padding-left: 99px;
    padding-right: 99px;
}
.article1,
.article2,
.article3{
    color: black;
    flex: 1;
    justify-content: center;
}


.titleicon{
    display: flex;
    align-items: center;
}
.SuccessIcon{
    width: 50px;
    height: 50px;
}
.p7{
    margin-left: 12px;
    font-size: 12px;
    color: #303030;
    font-weight: bolder;
}
.p8{
    margin-top: 20px;
    font-size: 16px;
    color: #565353;
}

.LearnMoreArrowText{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.ArrowIcon{
    width: 12px;
    height: 12px;
}
.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9f1ff;
    color: #303030;
}
.featurescontext{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.titleh1{
    font-size: 32px;
    font-weight: bolder;
    margin-top: 70px;
    margin-bottom: 20px;
}
.p9{
    color: #565353;
    margin-bottom: 50px;
    flex: 1;
}
.leftcontext{
    flex: 1;
    
}
.rightcontext{
    flex: 1;
   
}
.rightcontext2{
    
    
}
.imgtimesaving{
    width: 670px;
    
}
.timesavingimg{
   
}
.productivityimg{
  
    
}
.ProductivityBoost{
   height: 360px;
   
}
.futureimgdocument{
    
    
}
.DocumentFuture{
    opacity: 0.8;
    height: 350px;
}
.section4{
    display: flex;
    justify-content: center;
    color: #303030;
    background-color: #ffffff;
}
.featurescontext2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.title2{
    font-size: 32px;
    font-weight: 700;
    color: #303030;
    margin-top: 48px;
    margin-bottom: 30px;
    text-align: center;
}
.advancedfeatures{
    margin-top: 5px;
    
}
.h2title{
    font-size: 18px;
    font-weight: bolder;
    color: #303030;
    margin-bottom: 15px;
}
.featureslist{
    display: flex;
    margin-bottom: 18px;
}

.correcticon{
    width: 22px;
    height: 22px;
    margin: 0;
    padding: 0;
}
.p10{
    font-size: 16px;
    margin-left: 10px;
    color: #0000ee;
    text-decoration: underline;
}
.p11{
    margin-bottom: 25px;
    font-size: 16px;
    margin-left: 10px;
    color: #0000ee;
    text-decoration: underline;
}
.section5{
    display: flex;
    justify-content: center;
    color: #ffffff;
    background: linear-gradient(to right, #043966, #04325b ,#063e6c);
}

.securecontext{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   margin-top: 94px;
   font-weight: bolder;
   
}
.secureh1title{
    color: white;
    font-size: 48px;

}
.p12{
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 77px;
}
.p13{
    color: white;
    font-weight: 400;
    font-size: 13px;
}
.p14{
    color: white;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 75px;
}
.computerimg{
    width: 750px;
    margin-top: 77px;
    margin-bottom: 75px;
}
.imgcomputer{
    width: 100%;
    object-fit: cover;
}
.section6{
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: #303030;
}
.readycontext{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   margin-top: 94px;
   font-weight: bolder;
}
.readyh1title{
    color: white;
    font-size: 48px;
    text-align: center;
}